.main {
    width: 70vw;
    height: 80px;
    margin: auto;
    border: 2px solid coral;
    border-radius: 10px;
    background-color: lightcoral;
}

.loading {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px dotted red;
    text-align: center;
    animation-name: loading;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes loading {
    0% {
        border-top-color: transparent;
        border-right-style: solid;
        border-bottom-style: dashed;
    }

    25% {
        border-right-color: transparent;
        border-bottom-style: solid;
        border-left-style: dashed;
    }

    50% {
        border-bottom-color: transparent;
        border-left-style: solid;
        border-top-style: dashed;
    }

    75% {
        border-left-color: transparent;
        border-top-style: solid;
        border-right-style: dashed;
    }

}