.post {
    padding:20px;
    margin: auto;
    width: 80vw;
    height: 1000px;
    background: linear-gradient(180deg, lightcoral, white, pink);
    border: 2px solid pink;
    border-radius: 10px;
    text-align: center;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    border: 5px solid lightgray;
    margin-top: 30vh;
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    text-align: center;
}

@keyframes spinner {
    0% {
        border-top-color: black;
        border-right-color: gray;
    }

    25% {
        border-right-color: black;
        border-bottom-color: gray;
    }

    50% {
        border-bottom-color: black;
        border-left-color: gray;
    }

    75% {
        border-left-color: black;
        border-top-color: gray;
    }

    100% {
        border-top-color: black;
        border-right-color: gray;
    }
}
