h3 {
    text-align: center;
}

.link-btn {
    margin-left: 100px;
    border-radius: 0.25rem;
    width: 40px;
    border: 1px solid;
    cursor: pointer;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #198754;
    border-color: #198754;
    color: white;
    text-decoration: none;
}

.link-btn:hover {
    background-color: #136941;
    border-color: #136941;
    box-shadow: 0 0 0 3px rgb(53, 143, 101);
}

input {
    display: block;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-clip: padding-box;
    color: #495057;
    font-size: 1rem;
    line-height: 1.5;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(160, 255, 184);
}

form {
    margin: auto;
    width: 80vw;
    height: 50vh;
    border: 2px dotted black;
    border-radius: 10px;
}
